
 #addmanager {

    background:#d7f6f7;
     border: 1px solid;
     text-align: center;

}

 #com {
     display: flex;
 }
 #join {
     width: 50%;
     background: #d7f6f7;
     border: 1px;
     border-color: #929292;
     border-style: solid;

 }
 #create {
     flex: 1;
     background:#d7f6f7;
     border: 1px;
     border-color: #929292;
     border-style: solid;
 }

 #boxborder{

     text-align: center;
     margin: 25px;

 }
 #footer{
     position: fixed;
     bottom: 0;
 }